@import url(http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext);

html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    padding-top: 0px;
    height: 100%;
    background: #fff;
    color: #000;
    font-family: "Lato";
    font-size: 13px;
}

body.xs,
body.sm {
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
}

#main .overlay {
    background-color: black;
    opacity: 0.2;
    height: 200px;
    width: 100%;
    position: absolute;
    background-size: 60px 60px;
    background-image: url("/images/loading.gif");
    background-position: center;
    background-repeat: no-repeat;
    z-index: 9999 !important;
}

.navbar {
    min-height: 0;
}

.nav-tabs > li > a {
    border-radius: 0;
}

.btn.active,
.btn:active {
    box-shadow: none;
}

/* tables */

body.xs .wrap {
    height: 100%;
}

table {
    font-size: 13px;
}

table thead {
    color: #000;
    font-weight: bold;
    font-size: 13px;
}

table thead tr {
    height: 35px;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background: #fff;
}

.inline-block {
    display: inline-block;
}

/* Bootstrap */

.col-lg-1,
.col-md-1,
.col-sm-1,
.col-xs-1 {
    padding: 0 5px;
}

body.xs .col-lg-1,
body.sm .col-lg-1,
body.xs .col-md-1,
body.sm .col-md-1,
body.xs .col-sm-1,
body.sm .col-sm-1,
body.xs .col-xs-1,
body.sm .col-xs-1 {
    margin: 0;
    margin-bottom: 5px;
}

body.xs .col-lg-1,
body.xs .col-md-1,
body.xs .col-sm-1,
body.xs .col-xs-1 {
    padding: 0;
}

.col-lg-2,
.col-md-2,
.col-sm-2,
.col-xs-2 {
    padding: 0 5px;
}

body.xs .col-lg-2,
body.sm .col-lg-2,
body.xs .col-md-2,
body.sm .col-md-2,
body.xs .col-sm-2,
body.sm .col-sm-2,
body.xs .col-xs-2,
body.sm .col-xs-2 {
    margin: 0;
    margin-bottom: 5px;
}

body.xs .col-lg-2,
body.xs .col-md-2,
body.xs .col-sm-2,
body.xs .col-xs-2 {
    padding: 0;
}

.col-lg-3,
.col-md-3,
.col-sm-3,
.col-xs-3 {
    padding: 0 5px;
}

body.xs .col-lg-3,
body.sm .col-lg-3,
body.xs .col-md-3,
body.sm .col-md-3,
body.xs .col-sm-3,
body.sm .col-sm-3,
body.xs .col-xs-3,
body.sm .col-xs-3 {
    margin: 0;
    margin-bottom: 5px;
}

body.xs .col-lg-3,
body.xs .col-md-3,
body.xs .col-sm-3,
body.xs .col-xs-3 {
    padding: 0;
}

.col-lg-4,
.col-md-4,
.col-sm-4,
.col-xs-4 {
    padding: 0 5px;
}

body.xs .col-lg-4,
body.sm .col-lg-4,
body.xs .col-md-4,
body.sm .col-md-4,
body.xs .col-sm-4,
body.sm .col-sm-4,
body.xs .col-xs-4,
body.sm .col-xs-4 {
    margin: 0;
    margin-bottom: 5px;
}

body.xs .col-lg-4,
body.xs .col-md-4,
body.xs .col-sm-4,
body.xs .col-xs-4 {
    padding: 0;
}

.col-lg-5,
.col-md-5,
.col-sm-5,
.col-xs-5 {
    padding: 0 5px;
}

body.xs .col-lg-5,
body.sm .col-lg-5,
body.xs .col-md-5,
body.sm .col-md-5,
body.xs .col-sm-5,
body.sm .col-sm-5,
body.xs .col-xs-5,
body.sm .col-xs-5 {
    margin: 0;
    margin-bottom: 5px;
}

body.xs .col-lg-5,
body.xs .col-md-5,
body.xs .col-sm-5,
body.xs .col-xs-5 {
    padding: 0;
}

.col-lg-6,
.col-md-6,
.col-sm-6,
.col-xs-6 {
    padding: 0 5px;
}

body.xs .col-lg-6,
body.sm .col-lg-6,
body.xs .col-md-6,
body.sm .col-md-6,
body.xs .col-sm-6,
body.sm .col-sm-6,
body.xs .col-xs-6,
body.sm .col-xs-6 {
    margin: 0;
    margin-bottom: 5px;
}

body.xs .col-lg-6,
body.xs .col-md-6,
body.xs .col-sm-6,
body.xs .col-xs-6 {
    padding: 0;
}

.col-lg-7,
.col-md-7,
.col-sm-7,
.col-xs-7 {
    padding: 0 5px;
}

body.xs .col-lg-7,
body.sm .col-lg-7,
body.xs .col-md-7,
body.sm .col-md-7,
body.xs .col-sm-7,
body.sm .col-sm-7,
body.xs .col-xs-7,
body.sm .col-xs-7 {
    margin: 0;
    margin-bottom: 5px;
}

body.xs .col-lg-7,
body.xs .col-md-7,
body.xs .col-sm-7,
body.xs .col-xs-7 {
    padding: 0;
}

.col-lg-8,
.col-md-8,
.col-sm-8,
.col-xs-8 {
    padding: 0 5px;
}

body.xs .col-lg-8,
body.sm .col-lg-8,
body.xs .col-md-8,
body.sm .col-md-8,
body.xs .col-sm-8,
body.sm .col-sm-8,
body.xs .col-xs-8,
body.sm .col-xs-8 {
    margin: 0;
    margin-bottom: 5px;
}

body.xs .col-lg-8,
body.xs .col-md-8,
body.xs .col-sm-8,
body.xs .col-xs-8 {
    padding: 0;
}

.col-lg-9,
.col-md-9,
.col-sm-9,
.col-xs-9 {
    padding: 0 5px;
}

body.xs .col-lg-9,
body.sm .col-lg-9,
body.xs .col-md-9,
body.sm .col-md-9,
body.xs .col-sm-9,
body.sm .col-sm-9,
body.xs .col-xs-9,
body.sm .col-xs-9 {
    margin: 0;
    margin-bottom: 5px;
}

body.xs .col-lg-9,
body.xs .col-md-9,
body.xs .col-sm-9,
body.xs .col-xs-9 {
    padding: 0;
}

.col-lg-10,
.col-md-10,
.col-sm-10,
.col-xs-10 {
    padding: 0 5px;
}

body.xs .col-lg-10,
body.sm .col-lg-10,
body.xs .col-md-10,
body.sm .col-md-10,
body.xs .col-sm-10,
body.sm .col-sm-10,
body.xs .col-xs-10,
body.sm .col-xs-10 {
    margin: 0;
    margin-bottom: 5px;
}

body.xs .col-lg-10,
body.xs .col-md-10,
body.xs .col-sm-10,
body.xs .col-xs-10 {
    padding: 0;
}

.col-lg-11,
.col-md-11,
.col-sm-11,
.col-xs-11 {
    padding: 0 5px;
}

body.xs .col-lg-11,
body.sm .col-lg-11,
body.xs .col-md-11,
body.sm .col-md-11,
body.xs .col-sm-11,
body.sm .col-sm-11,
body.xs .col-xs-11,
body.sm .col-xs-11 {
    margin: 0;
    margin-bottom: 5px;
}

body.xs .col-lg-11,
body.xs .col-md-11,
body.xs .col-sm-11,
body.xs .col-xs-11 {
    padding: 0;
}

.col-lg-12,
.col-md-12,
.col-sm-12,
.col-xs-12 {
    padding: 0 5px;
}

body.xs .col-lg-12,
body.sm .col-lg-12,
body.xs .col-md-12,
body.sm .col-md-12,
body.xs .col-sm-12,
body.sm .col-sm-12,
body.xs .col-xs-12,
body.sm .col-xs-12 {
    margin: 0;
    margin-bottom: 5px;
}

body.xs .col-lg-12,
body.xs .col-md-12,
body.xs .col-sm-12,
body.xs .col-xs-12 {
    padding: 0;
}

body.xs .col-lg-12 button,
body.xs .col-md-12 button,
body.xs .col-sm-12 button,
body.xs .col-xs-12 button {
    padding: 0;
    height: 45px;
    width: 35px;
}

.row,
.panel-body,
select,
section {
    padding: 2px 5px;
}

body.xs .row,
body.xs .panel-body,
body.xs select,
body.xs section {
    margin: 0;
    padding: 0;
}

.container {
    margin: 5px 0;
}

section {
    border-radius: 0;
    padding: 8px;
}

body.xs section {
    margin-bottom: 0;
}

body.xs .container-fluid {
    padding: 5px;
}

body.xs .td-block td {
    display: block;
    text-align: left;
    border: none;
    -webkit-transition: all 300ms ease-in-out 0s;
    -moz-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

.td-block body.xs .td-block td:hover {
    background: #ccc;
}

.modal-dialog {
    margin: 160px auto !important;
}

/* form */
.form-horizontal,
.form-horizontal .form-inline {
    background: none;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 2px;
    /*
    padding: 0 10px;
    margin: 0;
    margin-bottom: 10px;
    */
}

body.xs .form-horizontal,
body.xs .form-horizontal .form-inline {
    margin: 0;
}

.form-horizontal .form-inline,
.form-horizontal .form-group {
    background: #eee;
    font-size: 13px;
}

.form-horizontal .form-group {
    padding: 0 10px;
    margin: 0;
    margin-bottom: 5px;
}

body.xs .form-horizontal .form-group {
    margin: 0;
}

.form-horizontal .control-label {
    text-align: left;
}

body.xs .form-horizontal,
body.xs .form-horizontal .form-inline {
    /* test */
}

body.xs .form-horizontal .control-label {
    padding-left: 0;
}

.form-inline {
    padding-bottom: 10px;
}

.form-inline .form-control {
   /* width: 100%;*/
}

.form-control {
    color: #000;
    font-size: 13px;
    border-radius: 2px;
    z-index: 998;
}

label {
    color: #000;
    font-family: "Arial", sans-serif;
    font-size: 13px;
}

/* Table responsive */

.table > tbody > tr.active > td,
.table > tbody > tr.active > th,
.table > tbody > tr > td.active,
.table > tbody > tr > th.active,
.table > tfoot > tr.active > td,
.table > tfoot > tr.active > th,
.table > tfoot > tr > td.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > thead > tr.active > th,
.table > thead > tr > td.active,
.table > thead > tr > th.active,
th {
    font-weight: 900;
    background: #ddd;
    text-align: center;
}

th,
td {
    border: 1px solid #ccc;
}

table tbody tr:nth-child(odd),
table.responsive-data tbody tr:nth-child(odd) {
    background: #fff;
}

table tbody tr:nth-child(even),
table.responsive-data tbody tr:nth-child(even) {
    background: #eee;
}

.responsive-data {
    overflow: hidden;
}

.responsive-data th {
    text-align: left;
    display: none;
}

.responsive-data td {
    text-align: left;
    display: block;
}

.responsive-data td:before {
    content: attr(data-th) ": ";
    color: #222;
    width: 100%;
    display: inline-block;
    border-radius: 0;
    padding: 10px 7px;
    margin-right: 5px;
}

body.xs .responsive-data td,
body.sm .responsive-data td {
    padding: 0;
    vertical-align: middle;
}

body.md .responsive-data td:before,
body.lg .responsive-data td:before {
    display: none;
}

body.md .responsive-data th,
body.md .responsive-data td,
body.lg .responsive-data th,
body.lg .responsive-data td {
    display: table-cell;
}

/* eclipse */

.wrap-eclipse {
    position: relative;
}

body.lg .wrap-eclipse .eclipse-text,
body.sm .wrap-eclipse .eclipse-text,
body.md .wrap-eclipse .eclipse-text {
    position: absolute;
    top: 0;
    left: 105px;
    margin-top: 10px;
    margin-right: 30px;
    height: 20px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

body.xs .wrap-eclipse .eclipse-text {
    position: relative;
    left: 90px;
    top: -30px;
    height: 100%;
    width: calc(100% - 111px);
    min-height: 100%;
    text-align: left;
    overflow: hidden;
}

.myEllipsis {
    display: table;
    table-layout: fixed;
    white-space: nowrap;
    width: 100%;
}

.myEllipsis > * {
    display: table-cell;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* BUTTONS  */

.btn {
    border-radius: 2px;
    border: none;

    padding: 6px 14px;
}

#content .wrap-btn-custom .btn-save {
    width: 100%;
}

.section-transaction-1 {
    z-index: 1000;
}

.btndash {
    margin: 10px;
    min-height: 100px;
    font-size: 40px;
}

.btndal {
    margin: 10px;
    min-height: 70px;
    min-width: 163px;
    font-size: 30px;
}

.btn:hover,
.btn:focus {
    color: #FFF;
}

.btn-custom-large {
    display: block;
    width: 100%;
    height: 45px;
    border-radius: 0;
    background: #25313c;
    color: #fff;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset;
    -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    -moz-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    -o-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 200ms ease-in-out 0s;
    -moz-transition: all 200ms ease-in-out 0s;
    -o-transition: all 200ms ease-in-out 0s;
    transition: all 200ms ease-in-out 0s;
}

.btn-custom-large:hover {
    background: #384b5c;
    color: #fff;
}

.btn-custom-small {
    background: #25313c;
    box-shadow: none;
    color: #fff;
    -webkit-transition: all 200ms ease-in-out 0s;
    -moz-transition: all 200ms ease-in-out 0s;
    -o-transition: all 200ms ease-in-out 0s;
    transition: all 200ms ease-in-out 0s;
}

.btn-custom-small:hover {
    background: #384b5c;
    color: #fff;
}

.btn-custom button {
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 1px 1px rgba(0, 0, 0, 0.075);
    -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    -moz-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    -o-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 200ms ease-in-out 0s;
    -moz-transition: all 200ms ease-in-out 0s;
    -o-transition: all 200ms ease-in-out 0s;
    transition: all 200ms ease-in-out 0s;
}

.btn-custom .icon-check::before {
    content: "\f00c";
}

.btn-custom .icon-check-empty::before {
    content: "\f00d";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.btn-custom .btn-group {
    width: auto;
}

.btn-custom .label-status {
    color: #fff;
}

.btn-custom .btn {
    border-radius: 15px;
    width: 30px;
    height: 30px;
    border: 1px solid #1462FC;
}

.btn-custom .bootstrap-checkbox > button.btn {
    padding: 4px 0;
}

.btn-custom .btn-success {
    background: #1462FC;
    color: #eee;
}

.btn-custom .btn-success:active,
.btn-custom .btn-success.active {
    background-image: none;
}

.btn-custom .btn-warning {
    background-color: #0aa699;
    border-color: #ffcc33;
    color: #eee;
    border: none;
}

.btn-custom .btn-warning:active,
.btn-custom .btn-warning.active {
    background-image: none;
}

.btn-custom .btn-danger {
    background-color: #0aa699;
    background-image: linear-gradient(to bottom, #0aa699 0px, #0aa699 100%);
    border-color: #a73434;
    color: #eee;
    border: none;
}

.btn-custom .btn-danger:active,
.btn-custom .btn-dangesr.active {
    background-image: none;
}

#btnSave {
    padding: 6px 30px;
}

.btn-close {
    background: #1462FC;
}

.badge {
    background: #1462FC;
}

.wrap-btn-custom {
    background: #eee;
}

/*   ICON */

.awesome-icon-ok,
.awesome-icon-plus {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid #fff;
    padding: 4px 0;
    margin-left: 4px;
}

.awesome-icon-ok::before,
.awesome-icon-plus::before {
    content: "\f00c";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.awesome-icon-plus::before {
    content: "\f067";
}

/* MENUS */

#nav-admin {
    z-index: 99;
    position: fixed;
    top: 0;
}

.navbar {
    margin-bottom: 0;
}

.navbar-inverse {
    background: none;
    border: 0;
    border-radius: 0;
    background: #fff;
    padding-left: 65px;
}

body.nav-expanded-left .navbar-inverse {
    padding-left: 10px;
}

#navbar,
.navbar-right {
    margin-right: 0;
}

#navbar-principal {
    z-index: 999;
}

.btn-info {

    color: #fff;
    border-radius: 2px;
    border: none;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 1px 1px rgba(0, 0, 0, 0.075);
    -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    -moz-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    -o-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 300ms ease-in-out 0s;
    -moz-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

.btn-info:hover {

}

.btn-action {
    padding: 10px 15px;
    border-radius: 2px;
}

.btn-action:hover {
    background: #384b5c;
}

/*
MENU LEFT / RIGHT
*/

a.nav-expander-left,
a.nav-expander-right {
    display: block;
    width: 62px;
    height: 58px;
    padding: 16px;
    border-bottom: 1px solid #666;
    z-index: 12;
    font-weight: 300;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
}

a.nav-expander-left:hover,
a.nav-expander-right:hover {
    cursor: pointer;
}

a.nav-expander-left.fixed,
a.nav-expander-right.fixed {
    position: fixed;
}

body.xs .nav-left,
body.xs .nav-right {
    height: 100%;
    overflow: hidden;
    font-size: 15px;
    z-index: 2000;
}

body.lg .nav-left, body.lg .nav-right,
body.sm .nav-left, body.sm .nav-right,
body.md .nav-left, body.md .nav-right {
    height: 100%;
    width: 180px;
    overflow: auto;
    font-size: 15px;
    z-index: 2000;
}

#nav-close-left,
#nav-close-right {
    font-family: "Arial", sans-serif;
    font-weight: 300;
    font-size: 24px;
}

#menu-left,
#menu-right {
    padding-top: 12px;
}

#menu-left .glyphicon-th-list,
#menu-right .glyphicon-th-list {
    color: #25313c;
}

#menu-left #nav-close-left,
#menu-left #nav-close-right,
#menu-right #nav-close-left,
#menu-right #nav-close-right {
    background: none;
    padding: 2px 0 2px 0;
}

#menu-left #nav-close-left:hover,
#menu-left #nav-close-left:focus,
#menu-left #nav-close-right:hover,
#menu-left #nav-close-right:focus,
#menu-right #nav-close-left:hover,
#menu-right #nav-close-left:focus,
#menu-right #nav-close-right:hover,
#menu-right #nav-close-right:focus {
    background: none;
}

#menu-left li a,
#menu-right li a {
    text-decoration: none;
    display: block;
    text-align: left;
    border-radius: 0;
    -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    -moz-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    -o-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 300ms ease-in-out 0s;
    -moz-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

#menu-left li > a > span.icon,
#menu-right li > a > span.icon {
    float: left;
    margin: 0.1em 1.7em -0.1em 0;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

#menu-left li > a:hover > span.icon,
#menu-right li > a:hover > span.icon {
    float: left;
    margin: 0.1em 0.8em -0.1em 0;
    opacity: 1;
}

#menu-left a .caret,
#menu-right a .caret {
    width: 0;
    height: 0;
    display: inline-block;
    vertical-align: top;
    border-top: 4px solid #4f5963;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
    margin-top: 8px;
}

.icon:before {
    font-family: 'FontAwesome';
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-transform: none;
    content: '\f105';
}

/*
MENU LEFT
*/

a.nav-expander-left {
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    margin-right: 0;
    padding-right: 10px;
    background: #fcfcfc;
    color: #333;
    -webkit-transition: right 0.3s ease-in-out 0s;
    -moz-transition: right 0.3s ease-in-out 0s;
    -o-transition: right 0.3s ease-in-out 0s;
    transition: right 0.3s ease-in-out 0s;
}

.nav-expanded-left a.nav-expander-left {
    display: none;
}

.nav-expanded-left a.nav-expander-left.fixed {
    left: 200px;
}

body.xs .nav-expanded-left a.nav-expander-left.fixed {
    display: none;
}

body.nav-expanded-left {
    margin-left: 0em;
    -webkit-transition: right 0.4s ease-in-out 0s;
    -moz-transition: right 0.4s ease-in-out 0s;
    -o-transition: right 0.4s ease-in-out 0s;
    transition: right 0.4s ease-in-out 0s;
}

body.nav-expanded-left .nav-left {
    left: 0;
}

.nav-left {
    position: fixed;
    top: 0;
    right: auto;
    bottom: auto;
    left: -20em;
    background: #dddddd;
    -webkit-transition: left 0.3s ease-in-out 0s;
    -moz-transition: left 0.3s ease-in-out 0s;
    -o-transition: left 0.3s ease-in-out 0s;
    transition: left 0.3s ease-in-out 0s;
}

#nav-close-left {
    padding-right: 10px;
}

.list-group-item {
    background: none;
    border: none;
}

#menu-left #nav-close-left {
    text-align: right;
}

#menu-left li a {
    background: #25313c;
    color: #fff;
    margin: 2px 10px;
    padding: 9px 0 9px 9px;
}

#menu-left li a:hover,
#menu-left li a.active {
    color: #fff;
    background: #384b5c;
}

/*
MENU RIGHT
*/

a.nav-expander-right {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
    margin-right: 0;
    padding-right: 10px;
    z-index: 12;
    background: #fcfcfc;
    color: #333;
    -webkit-transition: left 0.3s ease-in-out 0s;
    -moz-transition: left 0.3s ease-in-out 0s;
    -o-transition: left 0.3s ease-in-out 0s;
    transition: left 0.3s ease-in-out 0s;
}

.nav-expanded-right a.nav-expander-right {
    display: none;
}

.nav-expanded-right a.nav-expander-right.fixed {
    right: 200px;
}

body.xs .nav-expanded-right a.nav-expander-right.fixed {
    display: none;
}

body.nav-expanded-right {
    margin-right: 0em;
    -webkit-transition: left 0.4s ease-in-out 0s;
    -moz-transition: left 0.4s ease-in-out 0s;
    -o-transition: left 0.4s ease-in-out 0s;
    transition: left 0.4s ease-in-out 0s;
}

body.nav-expanded-right .nav-right {
    right: 0;
}

body.xs .nav-right {
    display: none;
    position: fixed;
    top: 0;
    /* right: -20em; */
    bottom: auto;
    left: auto;
    background: #dddddd;
    -webkit-transition: right 0.3s ease-in-out 0s;
    -moz-transition: right 0.3s ease-in-out 0s;
    -o-transition: right 0.3s ease-in-out 0s;
    transition: right 0.3s ease-in-out 0s;
}

body.lg .nav-right,
body.sm .nav-right,
body.md .nav-right {
    position: fixed;
    top: 0;
    right: -20em;
    bottom: auto;
    left: auto;
    background: #dddddd;
    -webkit-transition: right 0.3s ease-in-out 0s;
    -moz-transition: right 0.3s ease-in-out 0s;
    -o-transition: right 0.3s ease-in-out 0s;
    transition: right 0.3s ease-in-out 0s;
}

#nav-close-right {
    padding-right: 10px;
}

#menu-right #nav-close-right {
    text-align: left;
}

#menu-right li a {
    background: #25313c;
    color: #fff;
    margin: 2px 10px;
    padding: 9px 0 9px 9px;
}

#menu-right li a:hover,
#menu-right li a.active {
    color: #fff;
    background: #384b5c;
}

/*
MENU TOP
*/

body.nav-expanded-left #header {
    padding-left: 0;
}

#header .navbar-inverse {
    height: 58px;
    border-bottom: 1px solid #666;
    /*position: fixed;*/
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    width: 100%;
    z-index: 999;
}

#header .navbar-header {
    height: 58px;
    border-bottom: 0;
}

#header #myNavbar {
    padding-right: 60px;
    z-index: 997;
}

#header .wrap-select-role .selectAgentRole,
#header .wrap-select-role .chosen-container {
    z-index: 998;
}

#header #myNavbar .btn {
    border-radius: 2px;
    line-height: 31px;
    margin: 5px 5px;
    padding: 5px 15px;
    min-width: 100px;
    background-color: #25313c;
    border-color: #384b5c;
    color: #fff;
    -webkit-transition: all 300ms ease-in-out 0s;
    -moz-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

#header #myNavbar .btn:hover {
    background: #384b5c;
    color: #fff;
}

#header #myNavbar li.active .btn {
    background: #384b5c;
}

body.xs #header #myNavbar > ul,
body.sm #header #myNavbar > ul {
    display: none;
}

#header #globalcustomer {
    height: 42px;
    border-radius: 0;
}

body.lg #header #globalcustomer {
    width: 350px;
}

body.md #header #globalcustomer {
    width: 200px;
}

body.sm #header #globalcustomer {
    width: 140px;
}

body.xs #header #globalcustomer {
    width: 140px;
}

#header .wrap-input-login {
    height: 55px;
    padding: 7px 0 7px 0;
}

#header .wrap-input-login nav {
    width: 100%;
}

#header .wrap-input-login ul {
    margin-top: -1px;
}

body.xs.nav-expanded-left #header .wrap-input-login {
    display: none;
}

body.xs #header .wrap-input-login {
    padding-left: 85px;
}

body.xs #header .wrap-input-login ul li {
    display: block;
    position: relative;
    float: left;
}

body.nav-expanded-left #header .wrap-input-login {
    padding-left: 200px;
}

body.nav-expanded-left #header .wrap-select-comments {
    padding-left: 253px;
}

/*
CONTENT
*/

#main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-left: 0;
    overflow: auto;
    z-index: 9;
    -webkit-transition: transform 0.5s ease-in-out 0s;
    -moz-transition: transform 0.5s ease-in-out 0s;
    -o-transition: transform 0.5s ease-in-out 0s;
    transition: transform 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

body.nav-expanded-left #main {
    padding-left: 180px;
}

body.nav-expanded-right #main {
    padding-right: 160px;
}

body.xs .col-md-12,
body.xs .col-md-10,
body.xs .col-md-8,
body.xs .col-md-6 {
    padding: 0;
}

.nav > li > .btn-inverse {
    background-color: #25313c;
    border-color: #384b5c;
    color: #fff;
    -webkit-transition: all 200ms ease-in-out 0s;
    -moz-transition: all 200ms ease-in-out 0s;
    -o-transition: all 200ms ease-in-out 0s;
    transition: all 200ms ease-in-out 0s;
}

.nav > li > .btn-inverse:active,
.nav > li > .btn-inverse:hover,
.nav > li > .btn-inverse:focus {
    background-color: #384b5c;
    color: #fff;
}

#content {
    margin-top: 10px;
    margin-bottom: 60px;
}

/*
NEW ACCOUNT 
*/
#newAccountAgent .checkbox {
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 5px;
}

#newAccountAgent .input-group-addon {
    width: 20px;
}

#newAccountAgent #allSelectNewRol {
    margin-bottom: 10px;
}

#chooseTypeNewAccountModal .btn {
    margin-bottom: 30px;
}

#newPlayerWrap #blocAccounts {
    padding: 0;
}

#newPlayerWrap .blocAccount {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    padding: 10px;
}

#newAccountAgentModal .error,
#newAccountPlayerModal .error {
    background-color: rgba(255, 0, 0, 0.2);
    color: red;
    text-align: center;
}

/*
FOOTER 
*/

#container_fluid {
    height: 100%;
}

#footer {
    border-top: 1px solid #666;
    position: fixed;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    background: #fff;
    clear: both;
    z-index: 9999;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

#content #wargers {
    padding-top: 0px;
}

#content .container-fluid {
    padding-top: 60px;
}

body.nav-expanded-left #footer {
    left: 160px;
    width: calc(100% - (160px));
}

body.nav-expanded-right #footer {
    right: 160px;
    width: calc(100% - (160px));
}

#footer .btn-controls {
    /* margin: 10px 2%; */
    padding-top: 8px;
    margin-top: 16px;
    width: 100%;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-button {
    width: 1px;
    height: 1px;
}

::-webkit-scrollbar-thumb {
    background: #fa5736;
    border: 0px none #ffffff;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: #fa5736;
}

::-webkit-scrollbar-thumb:active {
    background: #E2E2E2;
}

::-webkit-scrollbar-track {
    background: #ffffff;
    border: 0px none #ffffff;
    border-radius: 0px;
}

::-webkit-scrollbar-track:hover {
    background: #ffffff;
}

::-webkit-scrollbar-track:active {
    background: #ffffff;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

.wrap-loading-games {
    position: absolute;
    right: 0;
    left: 0;
    height: 0;
    z-index: 99;
}

.wrap-loading-games.active {
    height: 100%;
}

.modal-open .modal {
    z-index: 1001;
}

#loading-games {
    width: 0;
    opacity: 0;
}

#loading-games.active {
    width: auto;
    opacity: 1;
}

.ticket-hDesc {
    display: none;
}

.ticket-add {
    margin: 15px 0 0 10px;
    font-size: 28px;
    color: green;
}

.ticket-print{
    margin: 0px 0 0 25%;
    font-size: 28px;
    color: black;
}

.btntac {
    margin: 0px;
    padding: 0px 0px 0px 0px !important;
    min-height: 70px;
    min-width: 163px;
    font-size: 30px;
}