@import url(http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext);

body {
    font-family: "Lato";
}
.iconArrow{
    height: 19px;
    width: 19px;
    background-image: url("/images/bottomArrowMenuLeft.png");
    background-repeat: no-repeat;
}

.iconPlus{
    height: 10px;
    width: 10px;
    background-image: url("/images/plus.png");
    background-repeat: no-repeat;
}

.iconLess{
    height: 10px;
    width: 10px;
    background-image: url("/images/less.png");
    background-repeat: no-repeat;
}

.collapsed .iconArrow{
     background-image: url("/images/rigthArrowMenuLeft.png");
}
.iconSport {
    background-image: url("/images/sportsIcons1.png");
    background-size: 780px 18px;
    height: 19px;
    width: 19px;
    background-repeat: no-repeat;
}
.iconSport.white{
    background-image: url("/images/sportsIcons1-white.png");
}

.iconSport.tennis{
    background-position: 0px 0px;
}
.iconSport.soccer{
    background-position: -20px 0px;
}
.iconSport.baseball{
    background-position: -40px 0px;
}
.iconSport.basketball, 
.iconSport.basketball_ncaa, .iconSport.basketball_bncaa{
    background-position: -59px 0px;
}
.iconSport.football{
    background-position: -79px 0px;
}
.iconSport.ice_hockey, .iconSport.ice_bhockey{
    background-position: -98px 0px;
}
.iconSport.hockey{
    background-position: -98px 0px;
}
.iconSport.golf{
    background-position: -118px 0px;
}
.iconSport.boxing{
    background-position: -138px 0px;
}
.iconSport.auto_racing, .iconSport.auto_bracing{
    background-position: -157px 0px;
}
.iconSport.horse{
    background-position: -177px 0px;
}
.iconSport.archery{
    background-position: -197px 0px;
}
.iconSport.athletics{
    background-position: -217px 0px;
}
.iconSport.badminton{
    background-position: -237px 0px;
}
.iconSport.beach_bvolleyball{
    background-position: -257px 0px;
}
.iconSport.canoe{
    background-position: -277px 0px;
}
.iconSport.cycling{
    background-position: -297px 0px;
}
.iconSport.diving{
    background-position: -317px 0px;
}
.iconSport.equestrian{
    background-position: -337px 0px;
}
.iconSport.fencing{
    background-position: -357px 0px;
}
.iconSport.gymnastics{
    background-position: -377px 0px;
}
.iconSport.handball{
    background-position: -397px 0px;
}
.iconSport.judo{
    background-position: -417px 0px;
}
.iconSport.modern_bpentathlon{
    background-position: -437px 0px;
}
.iconSport.rowing{
    background-position: -457px 0px;
}
.iconSport.rugby{
    background-position: -477px 0px;
}
.iconSport.sailing{
    background-position: -497px 0px;
}
.iconSport.shooting{
    background-position: -517px 0px;
}
.iconSport.swimming{
    background-position: -537px 0px;
}
.iconSport.table_btennis{
    background-position: -557px 0px;
}
.iconSport.taekwondo{
    background-position: -579px 0px;
}
.iconSport.trampoline{
    background-position: -602px 0px;
}
.iconSport.triathlon{
    background-position: -627px 0px;
}
.iconSport.volleyball{
    background-position: -647px 0px;
}
.iconSport.waterpolo{
    background-position: -667px 0px;
}
.iconSport.weightlifting{
    background-position: -688px 0px;
}
.iconSport.wrestling{
    background-position: -707px 0px;
}
.iconSport.politics{
    background-position: -728px 0px;
        width: 21px !important;
        margin-right: -2px;
}
.iconSport.rio_b2016{
    background-position: -751px 0px;
        width: 23px !important;
        margin-right: -4px;
}

