@import url(http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext);

#betslip .allAmountMenu .table .cell button{
    height: 32px;
    width: 98%;
    padding-top: 4px;
    margin-right: 1px;
}

#betslip .allAmountMenu .table .cell input{
    width: 99%;
    margin-left: 1px;
    padding-top: 0px;
    padding-bottom: 2px;
    height: 32px;
}

body {
    font-family: "Lato";
    overflow-x: hidden;
}
body.lg #divSelectorSelect,
body.md #divSelectorSelect,
body.sm #divSelectorSelect{
    visibility: hidden;
    display: none;
    margin-bottom: 3px;
}
body.xs #divSelectorSelect{
    visibility: visible;
    display: block;
}
body.xs #divSelectorButton{
    visibility: hidden;
    display: none;
}
#divSelectorSelect .selectorWrap{
    /*padding-top: 10px;*/
    padding-bottom: 4px;
}

/* Select Betslip */
 .wrapper-dropdown-5::after, .wrapper-dropdown-5::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.wrapper-dropdown-5::-moz-selection {
    background: transparent none repeat scroll 0 0;
}

.wrapper-dropdown-5 {
    background: #313c42;
    color:#fff;
    border-radius: 4px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin: 0 auto;
    outline: medium none;
    padding: 12px 15px;
    position: relative;
    transition: all 0.3s ease-out 0s;
    width: 100%;
    text-transform: uppercase;
    text-align:center;
}
.wrapper-dropdown-5::after {
    border-color: #fff transparent;
    border-style: solid;
    border-width: 6px 6px 0;
    content: "";
    height: 0;
    margin-top: -3px;
    position: absolute;
    right: 15px;
    top: 50%;
    width: 0;
}
.wrapper-dropdown-5 .dropdown {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
    border-color: -moz-use-text-color rgba(0, 0, 0, 0.2);
    border-image: none;
    border-radius: 0 0 5px 5px;
    border-style: none solid;
    border-width: medium 1px;
    left: 0;
    list-style: outside none none;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 100%;
    transition: all 0.3s ease-out 0s;
     margin: 0;
    padding: 0;
    z-index: 9;
}

.wrapper-dropdown-5 .dropdown li {
    padding: 0 10px;
}
.wrapper-dropdown-5 .dropdown li a {
    border-bottom: 1px solid #e6e8ea;
    color: #313c42;
    display: block;
    padding: 10px 0;
    text-decoration: none;
    transition: all 0.3s ease-out 0s;
    text-align:center;
}

.wrapper-dropdown-5 .dropdown li:last-of-type a {
    border: medium none;
}
.wrapper-dropdown-5 .dropdown li i {
    color: #000;
    margin-right: 5px;
    vertical-align: middle;
}
.wrapper-dropdown-5 .dropdown li:hover a {
    color: #fff;
    background: #313c42;
}
.wrapper-dropdown-5.active {
    border-bottom: medium none;
    border-radius: 5px 5px 0 0;
    box-shadow: none;
    color: white;
}
.wrapper-dropdown-5.active::after {
   border-color: #82d1ff transparent;
}
.wrapper-dropdown-5.active .dropdown {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    max-height: 400px;
}
/* ******************* */





#roundRobinType{
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background: url("../../images/ico_drop_box_grey.png") no-repeat right;
    background-size: 10px 16px;
    border-right-width: 5px;
    background-color: #8A8A8A;
    border-color: #8A8A8A;
    color: #FFFFFF;
    font-weight: 100;
    text-transform: uppercase;
    /*-ms-text-align-last: center;
    -moz-text-align-last: center;
    text-align-last: center;*/
    /*padding-left: 43px;*/
    border-radius: 3px;
    width: 100%;
    padding-left: 4px;
    height: 30px;
}
.ContinueOnPushFlag{
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background: url("../../images/ico_drop_box_grey.png") no-repeat right;
    background-size: 10px 16px;
    border-right-width: 5px;
    background-color: #8A8A8A;
    border-color: #8A8A8A;
    color: #FFFFFF;
    font-weight: 100;
    text-transform: uppercase;
    /*-ms-text-align-last: center;
    -moz-text-align-last: center;
    text-align-last: center;*/
    /*padding-left: 43px;*/
    border-radius: 3px;
    width: 100%;
    padding-left: 4px;
}
#sele_buyPoints{
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background: url("../../images/ico_drop_box_grey.png") no-repeat right;
    background-size: 10px 16px;
    border-right-width: 5px;
    background-color: #8A8A8A;
    border-color: #8A8A8A;
    color: #FFFFFF;
    font-weight: 100;
    text-transform: uppercase;
    /*-ms-text-align-last: center;
    -moz-text-align-last: center;
    text-align-last: center;*/
    /*padding-left: 43px;*/
    /*padding-left: 30% !important;*/
    border-radius: 3px;
}
#betslip .fpSelectorWrap button{
    height: 24px;
    padding: 2px 0 4px 2px;
    width: 22px;
    margin-right: 1px;
}
#betslip .btn .btn-success .btn-xs .acceptChangesSelection{
    float:right;
}
#betslip .selection .form-control{
    padding: 3px 0;
    height: initial;
    /*text-align: center;*/
}
#betslip .selection .pannel-heading-selection-wrap{
    display: table;
    width: 100%;
}
#betslip .selection .pannel-heading-selection-wrap > div{
    display: table-cell;
}
#betslip .selection .removeFromBetslip{
    cursor: pointer;
}
#betslip .selection .removeFromBetslip:before{
    content:"";
}
#betslip .selection .removeFromBetslip {
    background: url("../../images/ico_drop_box_remove.png") no-repeat right;
    background-size: 20px 20px;
    display: inline-block;
    width: 20px; 
    height: 20px;
    position: relative;
    right: 5px;
}
#betslip .betslipTypeSelector{
    
}

#betslip .betslipTypeSelector .optionWrap{ 
    padding: 1px;
}
#betslip .betslipTypeSelector .option{ 
    font-weight: bold;
    background-color: #D8D8D8;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid #848484;
    border-right: 1px solid #848484;
    border-top:  1px solid #BDBDBD;
    border-left: 1px solid #BDBDBD;
}
body.xs #betslip .betslipTypeSelector .option{
    height: 50px;
    padding-top: 10px;
}
body.xs #betslip .panel-body {
    padding: 0px;
    padding-top: 1px;
    padding-bottom: 4px;
}
body.xs #betslip .panel-body .messages {
    display: none;
}
body.xs #betslip .globalMessages{
    /*background-color: #FFFFFF;*/
}
body.xs #betslip .panel {
    margin-bottom: 4px;
}
body.xs #betslip .margin-bottom {
    margin-bottom: 4px;
}
body.xs #betslip .margin-bottom .table {
    /*margin-left: 3px;*/
}

body.sm #betslip .betslipTypeSelector .option,
body.sm #betslip .betslipTypeSelector .option.selected,
body.sm #betslip .betslipTypeSelector .option:hover,
body.md #betslip .betslipTypeSelector .option,
body.md #betslip .betslipTypeSelector .option.selected,
body.md #betslip .betslipTypeSelector .option:hover {
    height: 37px;
    padding-top: 7px;
}

#betslip .betslipTypeSelector .option.selected,
#betslip .betslipTypeSelector .option:hover{ 
    color: white;
    border:1px solid #419641; 
    
    background: #5cb85c; /* Old browsers */
    background: -moz-linear-gradient(top, #5cb85c 0%, #419641 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5cb85c), color-stop(100%,#419641)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #5cb85c 0%,#419641 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #5cb85c 0%,#419641 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #5cb85c 0%,#419641 100%); /* IE10+ */
    background: linear-gradient(to bottom, #5cb85c 0%,#419641 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5cb85c', endColorstr='#419641',GradientType=0 ); /* IE6-9 */
}

body.xs .allAmountMenu {
    margin-top: 0px;
    margin-bottom: 4px;
}
body.xs .cell{
    font-weight: 900;
}
#txtContinueOnPushFlag{
    width: 100%;
    background-color: #8A8A8A;
    border-color: #8A8A8A;
    border-width: 0px;
    color: #FFFFFF;
    border-radius: 3px;
    padding-left: 10px;
}
#betslip .amount {
    width: 60%;
    background-color: #8A8A8A;
    border-color: #8A8A8A;
    border-width: 0px;
    color: #FFFFFF;
    border-radius: 3px;
    padding-left: 4px;
    text-align: right;
    padding-right: 6px;
}
body.xs #betslip .selection .amount {
    width: 76%;
}
@media (body.xs #betslip .fpSelectorWrap width > 0px) {
    body.xs #betslip .selection .amount {
        width: 70%;
    }
}
body.xs #betslip .teaserAmounts .amount {
    /*width: 50%;*/
}
#betslip .selection .descBet,
#betslip .selection .desc {
    float: left;
    width: 100%;
    padding-right: 1px;
    /*white-space: nowrap;*/
    overflow: hidden;
    /*text-overflow: ellipsis;*/
}
body.xs #betslip .selections .messages {
    border-top: solid #333333;
    border-width: 1px;
    margin-top: 5px;
    display: none;
}
body.xs #betslip .selections .amountMenu {
    border-top: solid #333333;
    border-width: 1px;
    padding-top: 5px;
}
#betslip .teaserAmounts .maxRiskWrap,
#betslip .teaserAmounts .maxToWinWrap {
    float: left;
    width: 40%;
}
#betslip .maxAmounts .maxRiskWrap,
#betslip .maxAmounts .maxRisk{
    float: left;
    width: 40%;
}
#betslip .maxAmounts .maxRiskWrap,
#betslip .maxAmounts .maxToWinWrap {
    float: left;
    width: 40%;
}
#betslip .teaserAmounts .teaserRiskAmount input,
#betslip .teaserAmounts .teaserWinAmountLabel,
#betslip .teaserAmounts .teaserRiskAmount input,
#betslip .teaserAmounts .teaserWinAmountLabel,
#betslip .maxAmounts .maxRiskWrap .maxRisk,
#betslip .maxAmounts .maxRiskWrap .maxRiskLabel,
#betslip .maxAmounts .maxToWinWrap .maxToWin,
#betslip .maxAmounts .maxToWinWrap .maxToWinLabel,
#betslip .maxAmounts .globalFreePlayWrap label
{
    float: left;
    font-weight: 100;
}

#betslip .maxAmounts .globalFreePlayWrap button{
    padding: 0px 0px 0px 1px;
    width: 20px;
}

#betslip .fpSelectorWrap{
    visibility: hidden;
}

#betslip .maxAmounts .globalFreePlayWrap{
    float: left;
    margin-bottom: 2px;
}

#betslip input[type='number'] {
    -moz-appearance:textfield;
}

#betslip input::-webkit-outer-spin-button,
#betslip input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

body.xs #betslip .maxAmounts .maxRiskWrap .maxRiskLabel,
body.xs #betslip .maxAmounts .maxToWinWrap .maxToWinLabel {
    margin-right: 4px;
}
body.xs #betslip .selection .desc {
    font-weight: 900;
}
body.xs #betslip .selection .selectionDescWrap .pitcherSelectorWrap,
body.xs #betslip .selection .selectionDescWrap .oddsWrap{
    width: 50%;
}
body.xs #betslip .selection .pannel-heading-1,
body.xs #betslip .selection .pannel-heading-2 {
    background-color: #333333;
    padding-top: 8px;
    padding-left: 4px;
}
#betslip .panel .panel-default{
    background-color: #DFDFDF;
}
#placeBetWrap button,
#acceptChangesWrap button,
#acceptChangesWrap button:hover{
    height: 42px;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    background-image: none;
    color: white;
    border: 1px solid #419641;
    background: #5cb85c;
    background: -moz-linear-gradient(top, #5cb85c 0%, #419641 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5cb85c), color-stop(100%,#419641));
    background: -webkit-linear-gradient(top, #5cb85c 0%,#419641 100%);
    background: -o-linear-gradient(top, #5cb85c 0%,#419641 100%);
    background: -ms-linear-gradient(top, #5cb85c 0%,#419641 100%);
    background: linear-gradient(to bottom, #5cb85c 0%,#419641 100%);
}
#betslip .selection .riskWrap .amount,
#betslip .selection .winWrap .amount
{
    background-color: #8A8A8A;
    border-color: #8A8A8A;
    padding-left: 4px;
    margin-left: 4px;
    font-weight: 100;
    border-radius: 3px;
}
body.xs #betslip .selection .cell {
    font-weight: 100;
    padding-left: 0px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #FFFFFF;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #FFFFFF;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #FFFFFF;
}
:-moz-placeholder { /* Firefox 18- */
  color: #FFFFFF;
}

#betslip .amount::-webkit-input-placeholder, /* WebKit browsers */
#betslip .amount:-moz-placeholder, /* Mozilla Firefox 4 to 18 */
#betslip .amount::-moz-placeholder, /* Mozilla Firefox 19+ */
#betslip .amount:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #FFFFFF;
    font-weight: 900;
}
#betslip .amountMenu .amount{
    width: 74%;
}
#betslip .reverseAmount .amount{
    width: 100%;
}
#betslip .amount{
    width: 74%;
    margin-right: 2px;
}
#betslip .riskAmountWrap label {
    width: 25%;
    margin-right: 1px;
}
#betslip .reverseAmountWrap label {
    width: 24%;
    margin-right: 1px;
}
#betslip  .selection .selectionDescWrap{
    display: table;
    width: 100%;
}
#betslip  .selection  .maxbet{
    width:100%;
}
#betslip  .selection .selectionDescWrap .pitcherSelectorWrap,
#betslip  .selection .selectionDescWrap .desc{
    display: table-cell;
}
#betslip  .selection .selectionDescWrap .oddsWrap{
    display: table-cell;
    width: 1px;
    white-space: nowrap;
    padding-left: 3px;
    width: 50%;
}
body.xs #betslip  .selection .selectionDescWrap .oddsWrap{
    padding-left: 0px;
}
#betslip  .selection .selectionDescWrap .oddsWrap.buyPointsOn{
    width: 50%;
}
#betslip  .serverMessages .message,
#betslip  .globalMessages .message,
#betslip  .selection .messages .message{
    color: red;
}
#betslip  .emptyBetslip{
    text-align: center;
}
#betslip  .globalFreePlayWrap{
    text-align: left;
}
.ticket .betType{
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 3px;
}
.ticket .ifLabel{
    text-align: center;
    background-color: #e6eefb;
}
.ticket .totalAmounts{
    background-color: #e6eefb;
}
.ticket .item{
    padding: 2px;
}
.modal-header{
    background-color: #facc2e;
    padding: 4px 10px;
    font-weight: bold;
    text-transform: uppercase;
}
#betslipModal .modal-header .close{
    color: #000;
    opacity: 0.7;
}
#betslip #placebetBar{
    margin-bottom: 0;
}
#betslip #acceptChanges{
    width: 100%;
    margin-bottom: 4px;
}
body.xs #betslip #acceptChanges {
    margin-bottom: 4px;
}
body.xs #betslip .acceptChangesSelection{
    float: right;
    margin-right: 1px;
}
#betslip .allAmountMenu,
#betslip .selection .amountMenu{
    width: 100%;
}
#betslip .table{
    display: table;
    margin-bottom: 0;
}
#betslip .table .cell{
    display: table-cell;
}
#betslip .pitcherSelectorWrap,
#betslip .pitcherSelector{
    width: 50%;
    text-transform: uppercase;
}
.pitcherSelector option{
    padding: 7px;
}

#sele_buyPoints option{
    padding: 7px;
}

#betslip .selection .removeFromBetslipWrap{
    width: 15px;
    position: absolute;
    top: 0px;
    right: 0px;
}
#betslip .selection .selectionTitleTable{
    width: 100%;
    position: relative;
}
#betslip .selection .ellipsisTitle{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    text-align: left;
}
body.xs #betslip .selection .ellipsisTitle{
    width: 92%;
}
body.sm #betslip .selection .ellipsisTitle{
    width: 232px;
}
body.md #betslip .selection .ellipsisTitle{
    width: 285px;
}
body.lg #betslip .selection .ellipsisTitle{
    width: 390px;
}
.progress-bar{
  -webkit-transition: width .6s linear;
       -o-transition: width .6s linear;
          transition: width .6s linear;
}
#betslip .globalRiskAmount{
    /*display: table;*/
    /*width: 100%;*/
}
#betslip .globalRiskAmount > div{
    /*display: table-cell;
    padding-right: 10px;*/
}
#betslip .riskAmountWrap{
    display: table;
    width: 100%;
}
#betslip .riskAmountWrap div{
    display: table-cell;
}
#betslip #addOpenBet{
    width: 100%;
}
#betslip .openSelection{
    border-radius: 3px;
    background-color: #585858;
    padding: 3px;
    color: white;
}
#betslip .selection.contestant .panel-default > .pannel-heading-2{
    background-color: #90EE90;
    color:#333;
}
#teaserSelectorModal .teaser .selectTeaserButtonWrap{
    text-align: right;
    width: 1px;
    padding-left: 4px;
}
#teaserSelectorModal .teaser .showTeaserInfoWrap{
    text-align: center;
    width: 1px;
}
#teaserSelectorModal .teaser .tableTeaserSelector{
    width: 100%;
}
#teaserSelectorModal .teaser .TeaserNameWrap{
    cursor: pointer;
}
#teaserSelectorModal .teaser ul{
    padding: 0 0 0 10px;
    margin: 0;
}
#teaserSelectorModal .teaser .teaserInfoPanelBody{
    padding: 0;
}
.padding{
    padding: 10px;
}
#teaserSelectorWrap{
}
#betslip.hideOdds .odds{
    display: none;
}
#betslip #currentTeaserType.nonSelected{
    color: red;
}
#betslip .selection .ifLabel{
    text-align: center;
    border: 1px solid #ddd;
    background-color: #E6EEFB;
}
body.xs #betslip .selection .ifLabel{
    background-color: #DFDFDF;
    border-radius: 4px;
}
.ticket{
    text-align: center;
}
/* Button Back */
body.xs #btnCloseBetSlip{
    width:100%;
    height: 44px;
    background-image: none;
    background-color: #FA5736;
    border-color: #FA5736;
}

